streamlit>=1.28.0
gspread>=5.11.0
matplotlib
google-auth>=2.23.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.100.0
pandas>=2.0.0
numpy>=1.24.0
plotly>=5.17.0
requests==2.31.0
beautifulsoup4==4.12.2
